footer.footer
  section.footer__links
    a(href='/regulamin') Regulamin sklepu
    a(href='/polityka-prywatnosci') Polityka prywatno&sacute;ci
    a(href='/polityka-cookies') Polityka cookies
    a(href='/kontakt') Kontakt
  section.footer__payments
    ul.payments-list
      li.payments-item
        i.fab.fa-cc-visa
      li.payments-item
        i.fab.fa-cc-mastercard
      li.payments-item
        i.fab.fa-paypal
      li.payments-item
        i.fab.fa-google-pay
      li.payments-item
        i.fab.fa-apple-pay
  .footer__copyright
    p &copy; 2021 Luban Sneaker Store