doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      nav
        ul 
          li 
            a(href='/') Strona glowna
          li
            a(href="/men") buty meskie
          li 
            a(href="/woman") buty damskie
          li
            a(href="/shoppingCart") Koszyk
          li 
            a(href="/register") Register 
          li 
            a(href="/login") login
  block content

  footer 
    ul
        li Pozycja 1
        li Pozycja 2
        li Pozycja 3
  block footer