doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Luba&nacute; Sneaker Store - sklep obuwniczy
  link(rel='apple-touch-icon' sizes='180x180' href='./images/favicons/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='./images/favicons/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='./images/favicons/favicon-16x16.png')
  link(rel='manifest' href='./images/favicons/site.webmanifest')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&family=Oswald:wght@300;400;700&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css')
  link(rel='stylesheet' href='/styles/css/style.css')
.wrapper
  include includes/header.pug
  section.info
    article
      h1(style='text-align:center') Polityka Prywatno&sacute;ci
      p
        | Poni&zdot;sza Polityka Prywatno&sacute;ci okre&sacute;la 
        strong zasady zapisywania i uzyskiwania dost&eogon;pu do danych na Urz&aogon;dzeniach U&zdot;ytkownik&oacute;w
        |  korzystaj&aogon;cych z Serwisu do cel&oacute;w &sacute;wiadczenia us&lstrok;ug drog&aogon; elektroniczn&aogon; przez Administratora oraz 
        strong zasady gromadzenia i przetwarzania danych osobowych U&zdot;ytkownik&oacute;w
        | , kt&oacute;re zosta&lstrok;y podane przez nich osobi&sacute;cie i dobrowolnie za po&sacute;rednictwem narz&eogon;dzi dost&eogon;pnych w Serwisie.
      p
        | Poni&zdot;sza Polityka Prywatno&sacute;ci jest integraln&aogon; cz&eogon;&sacute;ci&aogon; 
        a(href='https://lubansneakerstore.pl/regulamin') Regulaminu Serwisu
        | , kt&oacute;ry okre&sacute;la zasady, prawa i obowi&aogon;zki U&zdot;ytkownik&oacute;w korzystaj&aogon;cych z Serwisu.
      h2(style='text-align:center') &sect;1 Definicje
      ul
        li
          p
            strong Serwis
            |  - serwis internetowy &quot;Luban Sneaker Store&quot; dzia&lstrok;aj&aogon;cy pod adresem https://lubansneakerstore.pl
        li
          p
            strong Serwis zewn&eogon;trzny
            |  - serwisy internetowe partner&oacute;w, us&lstrok;ugodawc&oacute;w lub us&lstrok;ugobiorc&oacute;w wsp&oacute;&lstrok;pracuj&aogon;cych z Administratorem
        li
          p
            strong Administrator Serwisu / Danych
            |  - Administratorem Serwisu oraz Administratorem Danych (dalej Administrator) jest firma &quot;Luban Sneaker Store&quot;, prowadz&aogon;ca dzia&lstrok;alno&sacute;&cacute; pod adresem: ., o nadanym numerze identyfikacji podatkowej (NIP): 123123123, &sacute;wiadcz&aogon;ca us&lstrok;ugi drog&aogon; elektroniczn&aogon; za po&sacute;rednictwem Serwisu
        li
          p
            strong U&zdot;ytkownik
            |  - osoba fizyczna, dla kt&oacute;rej Administrator &sacute;wiadczy us&lstrok;ugi drog&aogon; elektroniczn&aogon; za po&sacute;rednictwem Serwisu.
        li
          p
            strong Urz&aogon;dzenie
            |  - elektroniczne urz&aogon;dzenie wraz z oprogramowaniem, za po&sacute;rednictwem kt&oacute;rego U&zdot;ytkownik uzyskuje dost&eogon;p do Serwisu
        li
          p
            strong Cookies (ciasteczka)
            |  - dane tekstowe gromadzone w formie plik&oacute;w zamieszczanych na Urz&aogon;dzeniu U&zdot;ytkownika
        li
          p
            strong RODO
            |  - Rozporz&aogon;dzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony os&oacute;b fizycznych w zwi&aogon;zku z przetwarzaniem danych osobowych i w sprawie swobodnego przep&lstrok;ywu takich danych oraz uchylenia dyrektywy 95/46/WE (og&oacute;lne rozporz&aogon;dzenie o ochronie danych)
        li
          p
            strong Dane osobowe
            |  - oznaczaj&aogon; informacje o zidentyfikowanej lub mo&zdot;liwej do zidentyfikowania osobie fizycznej (&bdquo;osobie, kt&oacute;rej dane dotycz&aogon;&rdquo;); mo&zdot;liwa do zidentyfikowania osoba fizyczna to osoba, kt&oacute;r&aogon; mo&zdot;na bezpo&sacute;rednio lub po&sacute;rednio zidentyfikowa&cacute;, w szczeg&oacute;lno&sacute;ci na podstawie identyfikatora takiego jak imi&eogon; i nazwisko, numer identyfikacyjny, dane o lokalizacji, identyfikator internetowy lub jeden b&aogon;d&zacute; kilka szczeg&oacute;lnych czynnik&oacute;w okre&sacute;laj&aogon;cych fizyczn&aogon;, fizjologiczn&aogon;, genetyczn&aogon;, psychiczn&aogon;, ekonomiczn&aogon;, kulturow&aogon; lub spo&lstrok;eczn&aogon; to&zdot;samo&sacute;&cacute; osoby fizycznej
        li
          p
            strong Przetwarzanie
            |  - oznacza operacj&eogon; lub zestaw operacji wykonywanych na danych osobowych lub zestawach danych osobowych w spos&oacute;b zautomatyzowany lub niezautomatyzowany, tak&aogon; jak zbieranie, utrwalanie, organizowanie, porz&aogon;dkowanie, przechowywanie, adaptowanie lub modyfikowanie, pobieranie, przegl&aogon;danie, wykorzystywanie, ujawnianie poprzez przes&lstrok;anie, rozpowszechnianie lub innego rodzaju udost&eogon;pnianie, dopasowywanie lub &lstrok;&aogon;czenie, ograniczanie, usuwanie lub niszczenie;
        li
          p
            strong Ograniczenie przetwarzania
            |  - oznacza oznaczenie przechowywanych danych osobowych w celu ograniczenia ich przysz&lstrok;ego przetwarzania
        li
          p
            strong Profilowanie
            |  - oznacza dowoln&aogon; form&eogon; zautomatyzowanego przetwarzania danych osobowych, kt&oacute;re polega na wykorzystaniu danych osobowych do oceny niekt&oacute;rych czynnik&oacute;w osobowych osoby fizycznej, w szczeg&oacute;lno&sacute;ci do analizy lub prognozy aspekt&oacute;w dotycz&aogon;cych efekt&oacute;w pracy tej osoby fizycznej, jej sytuacji ekonomicznej, zdrowia, osobistych preferencji, zainteresowa&nacute;, wiarygodno&sacute;ci, zachowania, lokalizacji lub przemieszczania si&eogon;
        li
          p
            strong Zgoda
            |  - zgoda osoby, kt&oacute;rej dane dotycz&aogon; oznacza dobrowolne, konkretne, &sacute;wiadome i jednoznaczne okazanie woli, kt&oacute;rym osoba, kt&oacute;rej dane dotycz&aogon;, w formie o&sacute;wiadczenia lub wyra&zacute;nego dzia&lstrok;ania potwierdzaj&aogon;cego, przyzwala na przetwarzanie dotycz&aogon;cych jej danych osobowych
        li
          p
            strong Naruszenie ochrony danych osobowych
            |  - oznacza naruszenie bezpiecze&nacute;stwa prowadz&aogon;ce do przypadkowego lub niezgodnego z prawem zniszczenia, utracenia, zmodyfikowania, nieuprawnionego ujawnienia lub nieuprawnionego dost&eogon;pu do danych osobowych przesy&lstrok;anych, przechowywanych lub w inny spos&oacute;b przetwarzanych
        li
          p
            strong Pseudonimizacja
            |  - oznacza przetworzenie danych osobowych w taki spos&oacute;b, by nie mo&zdot;na ich by&lstrok;o ju&zdot; przypisa&cacute; konkretnej osobie, kt&oacute;rej dane dotycz&aogon;, bez u&zdot;ycia dodatkowych informacji, pod warunkiem &zdot;e takie dodatkowe informacje s&aogon; przechowywane osobno i s&aogon; obj&eogon;te &sacute;rodkami technicznymi i organizacyjnymi uniemo&zdot;liwiaj&aogon;cymi ich przypisanie zidentyfikowanej lub mo&zdot;liwej do zidentyfikowania osobie fizycznej
        li
          p
            strong Anonimizacja
            |  - Anonimizacja danych to nieodwracalny proces operacji na danych, kt&oacute;ry niszczy / nadpisuje &quot;dane osobowe&quot; uniemo&zdot;liwiaj&aogon;c identyfikacj&eogon;, lub powi&aogon;zanie danego rekordu z konkretnym u&zdot;ytkownikiem lub osob&aogon; fizyczn&aogon;.
      h2(style='text-align:center') &sect;2 Inspektor Ochrony Danych
      p Na podstawie Art. 37 RODO, Administrator nie powo&lstrok;a&lstrok; Inspektora Ochrony Danych.
      p
        | W sprawach dotycz&aogon;cych przetwarzania danych, w tym danych osobowych, nale&zdot;y kontaktowa&cacute; si&eogon; bezpo&sacute;rednio z Administratorem.
      h2(style='text-align:center') &sect;3 Rodzaje Plik&oacute;w Cookies
      ul
        li
          p
            strong Cookies wewn&eogon;trzne
            |  - pliki zamieszczane i odczytywane z Urz&aogon;dzenia U&zdot;ytkownika przez system teleinformatyczny Serwisu
        li
          p
            strong Cookies zewn&eogon;trzne
            |  - pliki zamieszczane i odczytywane z Urz&aogon;dzenia U&zdot;ytkownika przez systemy teleinformatyczne Serwis&oacute;w zewn&eogon;trznych. Skrypty Serwis&oacute;w zewn&eogon;trznych, kt&oacute;re mog&aogon; umieszcza&cacute; pliki Cookies na Urz&aogon;dzeniach U&zdot;ytkownika zosta&lstrok;y &sacute;wiadomie umieszczone w Serwisie poprzez skrypty i us&lstrok;ugi udost&eogon;pnione i zainstalowane w Serwisie
        li
          p
            strong Cookies sesyjne
            |  - pliki zamieszczane i odczytywane z Urz&aogon;dzenia U&zdot;ytkownika przez Serwis 
            span#sz1(style='display: none;') lub Serwisy zewn&eogon;trzne
            |  podczas jednej sesji danego Urz&aogon;dzenia. Po zako&nacute;czeniu sesji pliki s&aogon; usuwane z Urz&aogon;dzenia U&zdot;ytkownika.
        li
          p
            strong Cookies trwa&lstrok;e
            |  - pliki zamieszczane i odczytywane z Urz&aogon;dzenia U&zdot;ytkownika przez Serwis 
            span#sz2(style='display: none;') lub Serwisy zewn&eogon;trzne
            |  do momentu ich r&eogon;cznego usuni&eogon;cia. Pliki nie s&aogon; usuwane automatycznie po zako&nacute;czeniu sesji Urz&aogon;dzenia chyba &zdot;e konfiguracja Urz&aogon;dzenia U&zdot;ytkownika jest ustawiona na tryb usuwanie plik&oacute;w Cookie po zako&nacute;czeniu sesji Urz&aogon;dzenia.
      h2(style='text-align:center') &sect;4 Bezpiecze&nacute;stwo sk&lstrok;adowania danych
      ul
        li
          p
            strong Mechanizmy sk&lstrok;adowania i odczytu plik&oacute;w Cookie
            |  - Mechanizmy sk&lstrok;adowania, odczytu i wymiany danych pomi&eogon;dzy Plikami Cookies zapisywanymi na Urz&aogon;dzeniu U&zdot;ytkownika a Serwisem s&aogon; realizowane poprzez wbudowane mechanizmy przegl&aogon;darek internetowych i nie pozwalaj&aogon; na pobieranie innych danych z Urz&aogon;dzenia U&zdot;ytkownika lub danych innych witryn internetowych, kt&oacute;re odwiedza&lstrok; U&zdot;ytkownik, w tym danych osobowych ani informacji poufnych. Przeniesienie na Urz&aogon;dzenie U&zdot;ytkownika wirus&oacute;w, koni troja&nacute;skich oraz innych robak&oacute;w jest tak&zdot;e praktycznie niemo&zdot;liwe.
        li
          p
            strong Cookie wewn&eogon;trzne
            |  - zastosowane przez Administratora pliki Cookie s&aogon; bezpieczne dla Urz&aogon;dze&nacute; U&zdot;ytkownik&oacute;w i nie zawieraj&aogon; skrypt&oacute;w, tre&sacute;ci lub informacji mog&aogon;cych zagra&zdot;a&cacute; bezpiecze&nacute;stwu danych osobowych lub bezpiecze&nacute;stwu Urz&aogon;dzenia z kt&oacute;rego korzysta U&zdot;ytkownik.
        li
          p
            strong Cookie zewn&eogon;trzne
            |  - Administrator dokonuje wszelkich mo&zdot;liwych dzia&lstrok;a&nacute; w celu weryfikacji i doboru partner&oacute;w serwisu w kontek&sacute;cie bezpiecze&nacute;stwa U&zdot;ytkownik&oacute;w. Administrator do wsp&oacute;&lstrok;pracy dobiera znanych, du&zdot;ych partner&oacute;w o globalnym zaufaniu spo&lstrok;ecznym. Nie posiada on jednak pe&lstrok;nej kontroli nad zawarto&sacute;ci&aogon; plik&oacute;w Cookie pochodz&aogon;cych od zewn&eogon;trznych partner&oacute;w. Za bezpiecze&nacute;stwo plik&oacute;w Cookie, ich zawarto&sacute;&cacute; oraz zgodne z licencj&aogon; wykorzystanie przez zainstalowane w serwisie Skrypty, pochodz&aogon;cych z Serwis&oacute;w zewn&eogon;trznych, Administrator nie ponosi odpowiedzialno&sacute;ci na tyle na ile pozwala na to prawo. Lista partner&oacute;w zamieszczona jest w dalszej cz&eogon;&sacute;ci Polityki Prywatno&sacute;ci.
        li
          p
            strong Kontrola plik&oacute;w Cookie
            ul
              li
                p
                  | U&zdot;ytkownik mo&zdot;e w dowolnym momencie, samodzielnie zmieni&cacute; ustawienia dotycz&aogon;ce zapisywania, usuwania oraz dost&eogon;pu do danych zapisanych plik&oacute;w Cookies przez ka&zdot;d&aogon; witryn&eogon; internetow&aogon;
              li
                p
                  | Informacje o sposobie wy&lstrok;&aogon;czenia plik&oacute;w Cookie w najpopularniejszych przegl&aogon;darkach komputerowych dost&eogon;pne s&aogon; na stronie: 
                  a(rel='external' href='https://nety.pl/jak-wylaczyc-pliki-cookie/') jak wy&lstrok;&aogon;czy&cacute; cookie
                  |  lub u jednego ze wskazanych dostawc&oacute;w:
                  ul
                    li
                      a(rel='nofollow external' href='https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&hl=pl')
                        | Zarz&aogon;dzanie plikami cookies w przegl&aogon;darce 
                        strong Chrome
                    li
                      a(rel='nofollow external' href='https://help.opera.com/pl/latest/web-preferences/')
                        | Zarz&aogon;dzanie plikami cookies w przegl&aogon;darce 
                        strong Opera
                    li
                      a(rel='nofollow external' href='https://support.mozilla.org/pl/kb/blokowanie-ciasteczek')
                        | Zarz&aogon;dzanie plikami cookies w przegl&aogon;darce 
                        strong FireFox
                    li
                      a(rel='nofollow external' href='https://support.microsoft.com/pl-pl/help/4027947/microsoft-edge-delete-cookies')
                        | Zarz&aogon;dzanie plikami cookies w przegl&aogon;darce 
                        strong Edge
                    li
                      a(rel='nofollow external' href='https://support.apple.com/pl-pl/guide/safari/sfri11471/mac')
                        | Zarz&aogon;dzanie plikami cookies w przegl&aogon;darce 
                        strong Safari
                    li
                      a(rel='nofollow external' href='https://windows.microsoft.com/pl-pl/internet-explorer/delete-manage-cookies#ie=ie-11')
                        | Zarz&aogon;dzanie plikami cookies w przegl&aogon;darce 
                        strong Internet Explorer 11
              li
                p
                  | U&zdot;ytkownik mo&zdot;e w dowolnym momencie usun&aogon;&cacute; wszelkie zapisane do tej pory pliki Cookie korzystaj&aogon;c z narz&eogon;dzi Urz&aogon;dzenia U&zdot;ytkownika, za po&sacute;rednictwem kt&oacute;rego U&zdot;ytkownik korzysta z us&lstrok;ug Serwisu.
        li
          p
            strong Zagro&zdot;enia po stronie U&zdot;ytkownika 
            |  - Administrator stosuje wszelkie mo&zdot;liwe &sacute;rodki techniczne w celu zapewnienia bezpiecze&nacute;stwa danych umieszczanych w plikach Cookie. Nale&zdot;y jednak zwr&oacute;ci&cacute; uwag&eogon;, &zdot;e zapewnienie bezpiecze&nacute;stwa tych danych zale&zdot;y od obu stron w tym dzia&lstrok;alno&sacute;ci U&zdot;ytkownika. Administrator nie bierze odpowiedzialno&sacute;ci za przechwycenie tych danych, podszycie si&eogon; pod sesj&eogon; U&zdot;ytkownika lub ich usuni&eogon;cie, na skutek &sacute;wiadomej lub nie&sacute;wiadomej dzia&lstrok;alno&sacute;&cacute; U&zdot;ytkownika, wirus&oacute;w, koni troja&nacute;skich i innego oprogramowania szpieguj&aogon;cego, kt&oacute;rymi mo&zdot;e jest lub by&lstrok;o zainfekowane Urz&aogon;dzenie U&zdot;ytkownika. U&zdot;ytkownicy w celu zabezpieczenia si&eogon; przed tymi zagro&zdot;eniami powinni stosowa&cacute; si&eogon; do 
            a(rel='external' href='https://nety.pl/cyberbezpieczenstwo/') zasad bezpiecznego korzystania z sieci
            | .
        li
          p
            strong Przechowywanie danych osobowych
            |  - Administrator zapewnia, &zdot;e dokonuje wszelkich stara&nacute;, by przetwarzane dane osobowe wprowadzone dobrowolnie przez U&zdot;ytkownik&oacute;w by&lstrok;y bezpieczne, dost&eogon;p do nich by&lstrok; ograniczony i realizowany zgodnie z ich przeznaczeniem i celami przetwarzania. Administrator zapewnia tak&zdot;e, &zdot;e dokonuje wszelkich stara&nacute; w celu zabezpieczenia posiadanych danych przed ich utrat&aogon;, poprzez stosowanie odpowiednich zabezpiecze&nacute; fizycznych jak i organizacyjnych.
        li
          p
            strong Przechowywanie hase&lstrok;
            |  - Administrator o&sacute;wiadcza, &zdot;e has&lstrok;a przechowywane s&aogon; w zaszyfrowanej postaci, u&zdot;ywaj&aogon;c najnowszych standard&oacute;w i wytycznych w tym zakresie. Deszyfracja podawanych w Serwisie hase&lstrok; dost&eogon;pu do konta jest praktycznie niemo&zdot;liwa.
      h2(style='text-align:center') &sect;5 Cele do kt&oacute;rych wykorzystywane s&aogon; pliki Cookie
      ul#cele
        li Usprawnienie i u&lstrok;atwienie dost&eogon;pu do Serwisu
        li Personalizacja Serwisu dla U&zdot;ytkownik&oacute;w
        li Umo&zdot;liwienie Logowania do serwisu
      h2(style='text-align:center') &sect;6 Cele przetwarzania danych osobowych
      p
        | Dane osobowe dobrowolnie podane przez U&zdot;ytkownik&oacute;w s&aogon; przetwarzane w jednym z nast&eogon;puj&aogon;cych cel&oacute;w:
      ul
        li
          | Realizacji us&lstrok;ug elektronicznych:
          ul
            li
              | Us&lstrok;ugi rejestracji i utrzymania konta U&zdot;ytkownika w Serwisie i funkcjonalno&sacute;ci z nim zwi&aogon;zanych
        li
          | Komunikacji Administratora z U&zdot;ytkownikami w sprawach zwi&aogon;zanych z Serwisem oraz ochrony danych
        li Zapewnienia prawnie uzasadnionego interesu Administratora
      p
        | Dane o U&zdot;ytkownikach gromadzone anonimowo i automatycznie s&aogon; przetwarzane w jednym z nast&eogon;puj&aogon;cych cel&oacute;w:
      ul
        li Zapewnienia prawnie uzasadnionego interesu Administratora
      h2(style='text-align:center') &sect;7 Pliki Cookies Serwis&oacute;w zewn&eogon;trznych
      p#zewinfo
        | Administrator w Serwisie wykorzystuje skrypty javascript i komponenty webowe partner&oacute;w, kt&oacute;rzy mog&aogon; umieszcza&cacute; w&lstrok;asne pliki cookies na Urz&aogon;dzeniu U&zdot;ytkownika. Pami&eogon;taj, &zdot;e w ustawieniach swojej przegl&aogon;darki mo&zdot;esz sam decydowa&cacute; o dozwolonych plikach cookies jakie mog&aogon; by&cacute; u&zdot;ywane przez poszczeg&oacute;lne witryny internetowe. Poni&zdot;ej znajduje si&eogon; lista partner&oacute;w lub ich us&lstrok;ug zaimplementowanych w Serwisie, mog&aogon;cych umieszcza&cacute; pliki cookies:
      ul#zewnetrzne
      p
        | Us&lstrok;ugi &sacute;wiadczone przez podmioty trzecie s&aogon; poza kontrol&aogon; Administratora. Podmioty te mog&aogon; w ka&zdot;dej chwili zmieni&cacute; swoje warunki &sacute;wiadczenia us&lstrok;ug, polityki prywatno&sacute;ci, cel przetwarzania danych oraz spos&oacute;w wykorzystywania plik&oacute;w cookie.
      h2(style='text-align:center') &sect;8 Rodzaje gromadzonych danych
      p
        | Serwis gromadzi dane o U&zdot;ytkownikach. Cze&sacute;&cacute; danych jest gromadzona automatycznie i anonimowo, a cz&eogon;&sacute;&cacute; danych to dane osobowe podane dobrowolnie przez U&zdot;ytkownik&oacute;w w trakcie zapisywania si&eogon; do poszczeg&oacute;lnych us&lstrok;ug oferowanych przez Serwis.
      p
        strong Anonimowe dane gromadzone automatycznie:
      ul
        li Adres IP
        li Typ przegl&aogon;darki
        li Rozdzielczo&sacute;&cacute; ekranu
        li Przybli&zdot;ona lokalizacja
        li Otwierane podstrony serwisu
        li Czas sp&eogon;dzony na odpowiedniej podstronie serwisu
        li Rodzaj systemu operacyjnego
        li Adres poprzedniej podstrony
        li Adres strony odsy&lstrok;aj&aogon;cej
        li J&eogon;zyk przegl&aogon;darki
        li Pr&eogon;dko&sacute;&cacute; &lstrok;&aogon;cza internetowego
        li Dostawca us&lstrok;ug internetowych
      p
        strong Dane gromadzone podczas rejestracji:
      ul
        li Imi&eogon; / nazwisko / pseudonim
        li Login
        li Adres e-mail
        li Adres zamieszkania
        li Adres IP (zbierane automatycznie)
      p
        strong Dane gromadzone podczas zapisu do us&lstrok;ugi Newsletter
      ul
        li Adres e-mail
      p
        | Cz&eogon;&sacute;&cacute; danych (bez danych identyfikuj&aogon;cych) mo&zdot;e by&cacute; przechowywana w plikach cookies. Cze&sacute;&cacute; danych (bez danych identyfikuj&aogon;cych) mo&zdot;e by&cacute; przekazywana do dostawcy us&lstrok;ug statystycznych.
      h2(style='text-align:center') &sect;9 Dost&eogon;p do danych osobowych przez podmioty trzecie
      p
        | Co do zasady jedynym odbiorc&aogon; danych osobowych podawanych przez U&zdot;ytkownik&oacute;w jest Administrator. Dane gromadzone w ramach &sacute;wiadczonych us&lstrok;ug nie s&aogon; przekazywane ani odsprzedawane podmiotom trzecim.
      p
        | Dost&eogon;p do danych (najcz&eogon;&sacute;ciej na podstawie Umowy powierzenia przetwarzania danych) mog&aogon; posiada&cacute; podmioty, odpowiedzialne za utrzymania infrastruktury i us&lstrok;ug niezb&eogon;dnych do prowadzenia serwisu tj.:
      ul
        li
          | Firmy hostingowe, &sacute;wiadcz&aogon;ce us&lstrok;ugi hostingu lub us&lstrok;ug pokrewnych dla Administratora
        li
          | Firmy po&sacute;rednicz&aogon;ce w p&lstrok;atno&sacute;ciach on-line za towaru lub us&lstrok;ugi oferowane w ramach Serwisu (w przypadku dokonywania transakcji zakupu w Serwisie)
      p
        strong
          | Powierzenie przetwarzania danych osobowych - Us&lstrok;ugi Hostingu, VPS lub Serwer&oacute;w Dedykowanych
      p
        | Administrator w celu prowadzenia serwisu korzysta z us&lstrok;ug zewn&eogon;trznego dostawcy hostingu, VPS lub Serwer&oacute;w Dedykowanych - 
        strong
        | . Wszelkie dane gromadzone i przetwarzane w serwisie s&aogon; przechowywane i przetwarzane w infrastrukturze us&lstrok;ugodawcy zlokalizowanej w Polsce. Istnieje mo&zdot;liwo&sacute;&cacute; dost&eogon;pu do danych wskutek prac serwisowych realizowanych przez personel us&lstrok;ugodawcy. Dost&eogon;p do tych danych reguluje umowa zawarta pomi&eogon;dzy Administratorem a Us&lstrok;ugodawc&aogon;.
      br
      p
        strong Przetwarzanie danych w przypadku p&lstrok;atno&sacute;ci on-line
      p
        | W przypadku realizacji p&lstrok;atno&sacute;ci on-line, wszelkie dane dotycz&aogon;ce p&lstrok;atno&sacute;ci przekazywane s&aogon; bezpo&sacute;rednio przez U&zdot;ytkownika podmiotowi realizuj&aogon;cemu p&lstrok;atno&sacute;&cacute; -
      br
      h2(style='text-align:center') &sect;10 Spos&oacute;b przetwarzania danych osobowych
      p
        strong Dane osobowe podane dobrowolnie przez U&zdot;ytkownik&oacute;w:
      ul
        li
          | Dane osobowe nie b&eogon;d&aogon; przekazywane poza Uni&eogon; Europejsk&aogon;, chyba &zdot;e zosta&lstrok;y opublikowane na skutek indywidualnego dzia&lstrok;ania U&zdot;ytkownika (np. wprowadzenie komentarza lub wpisu), co sprawi, &zdot;e dane b&eogon;d&aogon; dost&eogon;pne dla ka&zdot;dej osoby odwiedzaj&aogon;cej serwis.
        li
          | Dane osobowe nie b&eogon;d&aogon; wykorzystywane do zautomatyzowanego podejmowania decyzji (profilowania).
        li Dane osobowe nie b&eogon;d&aogon; odsprzedawane podmiotom trzecim.
      p
        strong Dane anonimowe (bez danych osobowych) gromadzone automatycznie:
      ul
        li Dane anonimiwe (bez danych osobowych) b&eogon;d&aogon; przekazywane poza Uni&eogon; Europejsk&aogon;.
        li
          | Dane anonimiwe (bez danych osobowych) nie b&eogon;d&aogon; wykorzystywane do zautomatyzowanego podejmowania decyzji (profilowania).
        li Dane anonimiwe (bez danych osobowych) nie b&eogon;d&aogon; odsprzedawane podmiotom trzecim.
      h2(style='text-align:center') &sect;11 Podstawy prawne przetwarzania danych osobowych
      p Serwis gromadzi i przetwarza dane U&zdot;ytkownik&oacute;w na podstawie:
      ul
        li
          | Rozporz&aogon;dzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony os&oacute;b fizycznych w zwi&aogon;zku z przetwarzaniem danych osobowych i w sprawie swobodnego przep&lstrok;ywu takich danych oraz uchylenia dyrektywy 95/46/WE (og&oacute;lne rozporz&aogon;dzenie o ochronie danych)
          ul
            li
              | art. 6 ust. 1 lit. a
              br
              small
                | osoba, kt&oacute;rej dane dotycz&aogon; wyrazi&lstrok;a zgod&eogon; na przetwarzanie swoich danych osobowych w jednym lub wi&eogon;kszej liczbie okre&sacute;lonych cel&oacute;w
            li
              | art. 6 ust. 1 lit. b
              br
              small
                | przetwarzanie jest niezb&eogon;dne do wykonania umowy, kt&oacute;rej stron&aogon; jest osoba, kt&oacute;rej dane dotycz&aogon;, lub do podj&eogon;cia dzia&lstrok;a&nacute; na &zdot;&aogon;danie osoby, kt&oacute;rej dane dotycz&aogon;, przed zawarciem umowy
            li
              | art. 6 ust. 1 lit. f
              br
              small
                | przetwarzanie jest niezb&eogon;dne do cel&oacute;w wynikaj&aogon;cych z prawnie uzasadnionych interes&oacute;w realizowanych przez administratora lub przez stron&eogon; trzeci&aogon;
        li Ustawa z dnia 10 maja 2018 r. o ochronie danych osobowych (Dz.U. 2018 poz. 1000)
        li
          | Ustawa z dnia 16 lipca 2004 r. Prawo telekomunikacyjne (Dz.U. 2004 nr 171 poz. 1800)
        li
          | Ustawa z dnia 4 lutego 1994 r. o prawie autorskim i prawach pokrewnych (Dz. U. 1994 Nr 24 poz. 83)
      h2(style='text-align:center') &sect;12 Okres przetwarzania danych osobowych
      p
        strong Dane osobowe podane dobrowolnie przez U&zdot;ytkownik&oacute;w:
      p
        | Co do zasady wskazane dane osobowe s&aogon; przechowywane wy&lstrok;&aogon;cznie przez okres &sacute;wiadczenia Us&lstrok;ugi w ramach Serwisu przez Administratora. S&aogon; one usuwane lub anonimizowane w okresie do 30 dni od chwili zako&nacute;czenia &sacute;wiadczenia us&lstrok;ug (np. usuni&eogon;cie zarejestrowanego konta u&zdot;ytkownika, wypisanie z listy Newsletter, itp.)
      p
        | Wyj&aogon;tek stanowi sytuacja, kt&oacute;ra wymaga zabezpieczenia prawnie uzasadnionych cel&oacute;w dalszego przetwarzania tych danych przez Administratora. W takiej sytuacji Administrator b&eogon;dzie przechowywa&lstrok; wskazane dane, od czasu &zdot;&aogon;dania ich usuni&eogon;cia przez U&zdot;ytkownika, nie d&lstrok;u&zdot;ej ni&zdot; przez okres 3 lat w przypadku naruszenia lub podejrzenia naruszenia zapis&oacute;w regulaminu serwisu przez U&zdot;ytkownika
      p
        strong Dane anonimowe (bez danych osobowych) gromadzone automatycznie:
      p
        | Anonimowe dane statystyczne, niestanowi&aogon;ce danych osobowych, s&aogon; przechowywane przez Administratora w celu prowadzenia statystyk serwisu przez czas nieoznaczony
      h2(style='text-align:center') &sect;13 Prawa U&zdot;ytkownik&oacute;w zwi&aogon;zane z przetwarzaniem danych osobowych
      p Serwis gromadzi i przetwarza dane U&zdot;ytkownik&oacute;w na podstawie:
      ul
        li
          p
            strong Prawo dost&eogon;pu do danych osobowych
            br
            | U&zdot;ytkownikom przys&lstrok;uguje prawo uzyskania dost&eogon;pu do swoich danych osobowych, realizowane na &zdot;&aogon;danie z&lstrok;o&zdot;one do Administratora
        li
          p
            strong Prawo do sprostowania danych osobowych
            br
            | U&zdot;ytkownikom przys&lstrok;uguje prawo &zdot;&aogon;dania od Administratora niezw&lstrok;ocznego sprostowania danych osobowych, kt&oacute;re s&aogon; nieprawid&lstrok;owe lub / oraz uzupe&lstrok;nienia niekompletnych danych osobowych, realizowane na &zdot;&aogon;danie z&lstrok;o&zdot;one do Administratora
        li
          p
            strong Prawo do usuni&eogon;cia danych osobowych
            br
            | U&zdot;ytkownikom przys&lstrok;uguje prawo &zdot;&aogon;dania od Administratora niezw&lstrok;ocznego usuni&eogon;cia danych osobowych, realizowane na &zdot;&aogon;danie z&lstrok;o&zdot;one do AdministratoraW przypadku kont u&zdot;ytkownik&oacute;w, usuni&eogon;cie danych polega na anonimizacji danych umo&zdot;liwiaj&aogon;cych identyfikacj&eogon; U&zdot;ytkownika. Administrator zastrzega sobie prawo wstrzymania realizacji &zdot;&aogon;dania usuni&eogon;cia danych w celu ochrony prawnie uzasadnionego interesu Administratora (np. w gdy U&zdot;ytkownik dopu&sacute;ci&lstrok; si&eogon; naruszenia Regulaminu czy dane zosta&lstrok;y pozyskane wskutek prowadzonej korespondencji).
            br
            | W przypadku us&lstrok;ugi Newsletter, U&zdot;ytkownik ma mo&zdot;liwo&sacute;&cacute; samodzielnego usuni&eogon;cia swoich danych osobowych korzystaj&aogon;c z odno&sacute;nika umieszczonego w ka&zdot;dej przesy&lstrok;anej wiadomo&sacute;ci e-mail.
        li
          p
            strong Prawo do ograniczenia przetwarzania danych osobowych
            br
            | U&zdot;ytkownikom przys&lstrok;uguje prawo ograniczenia przetwarzania danych osobowych w przypadkach wskazanych w art. 18 RODO, m.in. kwestionowania prawid&lstrok;owo&sacute;&cacute; danych osobowych, realizowane na &zdot;&aogon;danie z&lstrok;o&zdot;one do Administratora
        li
          p
            strong Prawo do przenoszenia danych osobowych
            br
            | U&zdot;ytkownikom przys&lstrok;uguje prawo uzyskania od Administratora, danych osobowych dotycz&aogon;cych U&zdot;ytkownika w ustrukturyzowanym, powszechnie u&zdot;ywanym formacie nadaj&aogon;cym si&eogon; do odczytu maszynowego, realizowane na &zdot;&aogon;danie z&lstrok;o&zdot;one do Administratora
        li
          p
            strong Prawo wniesienia sprzeciwu wobec przetwarzania danych osobowych
            br
            | U&zdot;ytkownikom przys&lstrok;uguje prawo wniesienia sprzeciwu wobec przetwarzania jego danych osobowych w przypadkach okre&sacute;lonych w art. 21 RODO, realizowane na &zdot;&aogon;danie z&lstrok;o&zdot;one do Administratora
        li
          p
            strong Prawo wniesienia skargi
            br
            | U&zdot;ytkownikom przys&lstrok;uguje prawo wniesienia skargi do organu nadzorczego zajmuj&aogon;cego si&eogon; ochron&aogon; danych osobowych.
      h2(style='text-align:center') &sect;14 Kontakt do Administratora
      p Z Administratorem mo&zdot;na skontaktowa&cacute; si&eogon; w jeden z poni&zdot;szych sposob&oacute;w
      ul
        li
          p
            strong Adres pocztowy
            |  - Luban Sneaker Store, .
        li
          p
            strong Adres poczty elektronicznej
            |  - kontakt@lubansneakerstore.pl
        li
          p
            strong Po&lstrok;&aogon;czenie telefoniczne
            |  - +48 696968503
        li
          p
            strong Formularz kontaktowy
            |  - dost&eogon;pny pod adresem: /kontakt
      h2(style='text-align:center') &sect;15 Wymagania Serwisu
      ul
        li
          p
            | Ograniczenie zapisu i dost&eogon;pu do plik&oacute;w Cookie na Urz&aogon;dzeniu U&zdot;ytkownika mo&zdot;e spowodowa&cacute; nieprawid&lstrok;owe dzia&lstrok;anie niekt&oacute;rych funkcji Serwisu.
        li
          p
            | Administrator nie ponosi &zdot;adnej odpowiedzialno&sacute;ci za nieprawid&lstrok;owo dzia&lstrok;aj&aogon;ce funkcje Serwisu w przypadku gdy U&zdot;ytkownik ograniczy w jakikolwiek spos&oacute;b mo&zdot;liwo&sacute;&cacute; zapisywania i odczytu plik&oacute;w Cookie.
      h2(style='text-align:center') &sect;16 Linki zewn&eogon;trzne
      p
        | W Serwisie - artyku&lstrok;ach, postach, wpisach czy komentarzach U&zdot;ytkownik&oacute;w mog&aogon; znajdowa&cacute; si&eogon; odno&sacute;niki do witryn zewn&eogon;trznych, z kt&oacute;rymi W&lstrok;a&sacute;ciciel serwisu nie wsp&oacute;&lstrok;pracuje. Linki te oraz strony lub pliki pod nimi wskazane mog&aogon; by&cacute; niebezpieczne dla Twojego Urz&aogon;dzenia lub stanowi&cacute; zagro&zdot;enie bezpiecze&nacute;stwa Twoich danych. Administrator nie ponosi odpowiedzialno&sacute;ci za zawarto&sacute;&cacute; znajduj&aogon;c&aogon; si&eogon; poza Serwisem.
      h2(style='text-align:center') &sect;17 Zmiany w Polityce Prywatno&sacute;ci
      ul
        li
          p
            | Administrator zastrzega sobie prawo do dowolnej zmiany niniejszej Polityki Prywatno&sacute;ci bez konieczno&sacute;ci informowania o tym U&zdot;ytkownik&oacute;w w zakresie stosowania i wykorzystywania danych anonimowych lub stosowania plik&oacute;w Cookie.
        li
          p
            | Administrator zastrzega sobie prawo do dowolnej zmiany niniejszej Polityki Prywatno&sacute;ci w zakresie przetwarzania Danych Osobowych, o czym poinformuje U&zdot;ytkownik&oacute;w posiadaj&aogon;cych konta u&zdot;ytkownika lub zapisanych do us&lstrok;ugi newsletter, za po&sacute;rednictwem poczty elektronicznej w terminie do 7 dni od zmiany zapis&oacute;w. Dalsze korzystanie z us&lstrok;ug oznacza zapoznanie si&eogon; i akceptacj&eogon; wprowadzonych zmian Polityki Prywatno&sacute;ci. W przypadku w kt&oacute;rym U&zdot;ytkownik nie b&eogon;dzie si&eogon; zgadza&lstrok; z wprowadzonymi zmianami, ma obowi&aogon;zek usun&aogon;&cacute; swoje konto z Serwisu lub wypisa&cacute; si&eogon; z us&lstrok;ugi Newsletter.
        li
          p
            | Wprowadzone zmiany w Polityce Prywatno&sacute;ci b&eogon;d&aogon; publikowane na tej podstronie Serwisu.
        li
          p Wprowadzone zmiany wchodz&aogon; w &zdot;ycie z chwil&aogon; ich publikacji.
  include includes/footer.pug          
script(src='../scripts/app.js')
