doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Luba&nacute; Sneaker Store - sklep obuwniczy
  link(rel='apple-touch-icon' sizes='180x180' href='./images/favicons/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='./images/favicons/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='./images/favicons/favicon-16x16.png')
  link(rel='manifest' href='./images/favicons/site.webmanifest')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&family=Oswald:wght@300;400;700&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css')
  link(rel='stylesheet' href='/styles/css/style.css')
.wrapper
  include includes/header.pug
  section.info
    article
      h1.page-title.text-center Regulamin sklepu
      h2 I. Poj&eogon;cia og&oacute;lne
      ul
        li
          strong Regulamin
          |  &ndash; niniejszy regulamin
        li
          strong Serwis
          |  &ndash; serwis internetowych &quot;Luban Sneaker Store&quot;, dzia&lstrok;aj&aogon;cych pod adresem https://lubansneakerstore.pl
        li
          strong Us&lstrok;ugodawca
          |  &ndash; firma &quot;Luban Sneaker Store&quot; z adresem siedziby: , NIP: 123123123,
        li
          strong Us&lstrok;ugobiorca
          |  &ndash; ka&zdot;da osoba fizyczna, uzyskuj&aogon;ca dost&eogon;p do Serwisu i korzystaj&aogon;ca z us&lstrok;ug &sacute;wiadczonych za po&sacute;rednictwem Serwisu przez Us&lstrok;ugodawc&eogon;.
        li
          strong Komunikacja Drog&aogon; Elektroniczn&aogon;
          |  &ndash; Komunikacja pomi&eogon;dzy stronami za po&sacute;rednictwem poczty elektronicznej (e-mail) oraz formularzy kontaktowych dost&eogon;pnych na stronie www.
      h2 II. Postanowienia og&oacute;lne
      ul
        li
          | Regulamin, okre&sacute;la zasady funkcjonowania i u&zdot;ytkowania Serwisu oraz okre&sacute;la zakres praw i obowi&aogon;zk&oacute;w Us&lstrok;ugobiorc&oacute;w i Us&lstrok;ugodawcy zwi&aogon;zanych z u&zdot;ytkowaniem Serwisu.
        li
          | Przedmiotem us&lstrok;ug Us&lstrok;ugodawcy jest udost&eogon;pnienie nieodp&lstrok;atnych narz&eogon;dzi w postaci Serwisu, umo&zdot;liwiaj&aogon;cych Us&lstrok;ugobiorcom dost&eogon;p do tre&sacute;ci w postaci wpis&oacute;w, artyku&lstrok;&oacute;w i materia&lstrok;&oacute;w audiowizualnych lub aplikacji internetowych i formularzy elektronicznych
        li
          | Wszelkie ewentualne tre&sacute;ci, artyku&lstrok;y i informacje zawieraj&aogon;ce cechy wskaz&oacute;wek lub porad publikowane na &lstrok;amach Serwisu s&aogon; jedynie og&oacute;lnym zbiorem informacji i nie s&aogon; kierowane do poszczeg&oacute;lnych Us&lstrok;ugobiorc&oacute;w. Us&lstrok;ugodawca nie ponosi odpowiedzialno&sacute;ci za wykorzystanie ich przez Us&lstrok;ugobiorc&oacute;w.
        li
          | Us&lstrok;ugobiorca bierze na siebie pe&lstrok;n&aogon; odpowiedzialno za spos&oacute;b wykorzystania materia&lstrok;&oacute;w udost&eogon;pnianych w ramach Serwisu w tym za wykorzystanie ich zgodnie z obowi&aogon;zuj&aogon;cymi przepisami prawa.
        li
          | Us&lstrok;ugodawca nie udziela &zdot;adnej gwarancji co do przydatno&sacute;ci materia&lstrok;&oacute;w umieszczonych w Serwisie.
        li
          | Us&lstrok;ugodawca nie ponosi odpowiedzialno&sacute;ci z tytu&lstrok;u ewentualnych szk&oacute;d poniesionych przez Us&lstrok;ugobiorc&oacute;w Serwisu lub osoby trzecie w zwi&aogon;zku z korzystaniem z Serwisu. Wszelkie ryzyko zwi&aogon;zane z korzystaniem z Serwisu, a w szczeg&oacute;lno&sacute;ci z u&zdot;ywaniem i wykorzystywaniem informacji umieszczonych w Serwisie, ponosi Us&lstrok;ugobiorca korzystaj&aogon;cy z us&lstrok;ug Serwisu.
      h2 III. Warunki u&zdot;ywania Serwisu
      ul
        li U&zdot;ywanie Serwisu przez ka&zdot;dego z Us&lstrok;ugobiorc&oacute;w jest nieodp&lstrok;atne i dobrowolne.
        li
          | Us&lstrok;ugobiorcy maj&aogon; obowi&aogon;zek zapoznania si&eogon; z Regulaminem oraz pozosta&lstrok;ymi dokumentami stanowi&aogon;cymi jego integraln&aogon; cz&eogon;&sacute;&cacute; i musz&aogon; zaakceptowa&cacute; w ca&lstrok;o&sacute;ci jego postanowienia w celu dalszego korzystania z Serwisu.
        li
          | Us&lstrok;ugobiorcy nie mog&aogon; wykorzystywa&cacute; &zdot;adnych pozyskanych w Serwisie danych osobowych do cel&oacute;w marketingowych.
        li
          | Wymagania techniczne korzystania z Serwisu:
          ul
            li urz&aogon;dzenie z wy&sacute;wietlaczem umo&zdot;liwiaj&aogon;ce wy&sacute;wietlanie stron internetowych,
            li po&lstrok;&aogon;czenie z internetem,
            li
              | dowolna przegl&aogon;darka internetowa, kt&oacute;ra wy&sacute;wietla strony internetowe zgodnie ze standardami i postanowieniami Konsorcjum W3C i obs&lstrok;uguje strony www udost&eogon;pniane w j&eogon;zyku HTML5,
            li w&lstrok;&aogon;czon&aogon; obs&lstrok;ug&eogon; skrypt&oacute;w JavaScript,
            li w&lstrok;&aogon;czon&aogon; obs&lstrok;ug&eogon; plik&oacute;w Cookie
        li
          | W celu zapewnienia bezpiecze&nacute;stwa Us&lstrok;ugodawcy, Us&lstrok;ugobiorcy oraz innych Us&lstrok;ugobiorc&oacute;w korzystaj&aogon;cych z Serwisu, wszyscy Us&lstrok;ugobiorcy korzystaj&aogon;cy z Serwisu powinni stosowa&cacute; si&eogon; do og&oacute;lnie przyj&eogon;tych 
          a(href='https://nety.pl/cyberbezpieczenstwo/zasady-ogolne-korzystania-z-sieci-internet/') zasad bezpiecze&nacute;stwa w sieci
          | ,
        li
          | Zabrania si&eogon; dzia&lstrok;a&nacute; wykonywanych osobi&sacute;cie przez Us&lstrok;ugobiorc&oacute;w lub przy u&zdot;yciu oprorgamowania:
          ul
            li bez zgody pisemnej, dekompilacji i analizy kodu &zacute;r&oacute;d&lstrok;owego,
            li bez zgody pisemnej, powoduj&aogon;cych nadmierne obci&aogon;&zdot;enie serwera Serwisu,
            li
              | bez zgody pisemnej, pr&oacute;b wykrycia luk w zabezpieczeniach Serwisu i konfiguracji serwera,
            li
              | podejmowania pr&oacute;b wgrywania lub wszczykiwania na serwer i do bazy danych kodu, skrypt&oacute;w i oprogramowania mog&aogon;cych wyrz&aogon;dzi&cacute; szkod&eogon; oprogramowaniu Serwisu, innym Us&lstrok;ugobiorcom lub Us&lstrok;ugodawcy,
            li
              | podejmowania pr&oacute;b wgrywania lub wszczykiwania na serwer i do bazy danych kodu, skrypt&oacute;w i oprogramowania mog&aogon;cych &sacute;ledzi&cacute; lub wykrada&cacute; dane Us&lstrok;ugobiorc&oacute;w lub Us&lstrok;ugodawcy,
            li
              | podejmowania jakichkolwiek dzia&lstrok;a&nacute; maj&aogon;cych na celu uszkodzenie, zablokowanie dzia&lstrok;ania Serwisu lub uniemo&zdot;liwienie realizacji celu w jakim dzia&lstrok;a Serwis.
        li
          | W przypadku wykrycia zaistnienia lub potencjalnej mo&zdot;liwo&sacute;ci zaistnienia incydentu Cyberbezpiecze&nacute;stwa lub naruszenia RODO, Us&lstrok;ugobiorcy w pierwszej kolejno&sacute;ci powinni zg&lstrok;osi&cacute; ten fakt Us&lstrok;ugodawcy w celu szybkiego usuni&eogon;cia problemu / zagro&zdot;enia i zabezpieczenia interes&oacute;w wszystkich Us&lstrok;ugobiorc&oacute;w Serwisu.
      h2 IV. Warunki oraz zasady rejestracji
      ul
        li Us&lstrok;ugobiorcy mog&aogon; korzysta&cacute; z Serwisu bez konieczno&sacute;ci rejestracji.
        li
          | Us&lstrok;ugobiorcy musz&aogon; by&cacute; zarejestrowani i posiada&cacute; konto w Serwisie by korzysta&cacute; z dodatkowych us&lstrok;ug &sacute;wiadczonych w Serwisie, dost&eogon;pnych jedynie dla Us&lstrok;ugobiorc&oacute;w po zalogowaniu.
        li Rejestracja w Serwisie jest dobrowolna.
        li Rejestracja w Serwisie jest nieodp&lstrok;atna.
        li Ka&zdot;dy Us&lstrok;ugobiorca mo&zdot;e posiada&cacute; tylko jedno konto w Serwisie.
        li
          | Wymagania techniczne zwi&aogon;zane z rejestracj&aogon; konta:
          ul
            li posiadanie indywidualnego konta poczty elektronicznej e-mail,
        li
          | Rejestruj&aogon;cy si&eogon; w Serwisie Us&lstrok;ugobiorcy wyra&zdot;aj&aogon; zgod&eogon; na przetwarzanie ich danych osobowych przez Us&lstrok;ugobiorc&eogon; w zakresie w jakim zosta&lstrok;y one wprowadzone do Serwisu podczas procesu rejestracji oraz ich p&oacute;&zacute;niejszych zmianom lub usuni&eogon;ciu.
        li
          | Us&lstrok;ugodawca ma prawo zawiesza&cacute; lub usuwa&cacute; konta Us&lstrok;ugobiorc&oacute;w wed&lstrok;ug w&lstrok;asnego uznania, uniemo&zdot;liwiaj&aogon;c lub ograniczaj&aogon;c w ten spos&oacute;b dost&eogon;p do poszczeg&oacute;lnych lub wszystkich us&lstrok;ug, tre&sacute;ci, materia&lstrok;&oacute;w i zasob&oacute;w Serwisu, w szczeg&oacute;lno&sacute;ci je&zdot;eli Us&lstrok;ugobiorca dopu&sacute;ci si&eogon; &lstrok;amania Regulaminu, powszechnie obowi&aogon;zuj&aogon;cych przepis&oacute;w prawa, zasad wsp&oacute;&lstrok;&zdot;ycia spo&lstrok;ecznego lub dzia&lstrok;a na szkod&eogon; Us&lstrok;ugodawcy lub innych Us&lstrok;ugobiorc&oacute;w, uzasadnionego interesu Us&lstrok;ugodawcy oraz podmiot&oacute;w trzecich wsp&oacute;&lstrok;pracuj&aogon;cych lub nie z Us&lstrok;ugodawc&aogon;.
        li
          | Wszelkie us&lstrok;ugi Serwisu mog&aogon; by&cacute; zmieniane co do ich tre&sacute;ci i zakresu, dodawane lub odejmowane, a tak&zdot;e czasowo zawieszane lub dost&eogon;p do nich mo&zdot;e by&cacute; ograniczany, wed&lstrok;ug swobodnej decyzji Us&lstrok;ugodawcy, bez mo&zdot;liwo&sacute;ci wnoszenia sprzeciwu w tym zakresie przez Us&lstrok;ugobiorc&oacute;w.
        li
          | Dodatkowe zasady bezpiecze&nacute;stwa w zakresie korzystania z konta:
          ul
            li
              | Zabrania si&eogon; Us&lstrok;ugobiorcom zarejestrowanym w Serwisie do udost&eogon;pniania loginu oraz has&lstrok;a do swojego konta osobom trzecim.
            li
              | Us&lstrok;ugodawca nie ma prawa i nigdy nie b&eogon;dzie za&zdot;&aogon;da&cacute; od Us&lstrok;ugobiorcy has&lstrok;a do wybranego konta.
        li
          | Usuwanie konta:
          ul
            li
              | Ka&zdot;dy Us&lstrok;ugobiorca posiadaj&aogon;cy konto w Serwisie ma mo&zdot;liwo&sacute;&cacute; samodzielnego usuni&eogon;cia konta z Serwisu.
            li Us&lstrok;ugobiorcy mog&aogon; to uczyni&cacute; po zalogowaniu si&eogon; w panelu w Serwisie.
            li
              | Usuni&eogon;cie konta skutkuje usuni&eogon;ciem wszelkich danych identyfikacyjnych Us&lstrok;ugobiorcy oraz anonimizacj&aogon; nazwy u&zdot;ytkownika i adresu e-mail.
      h2 V. Warunki komunikacji i &sacute;wiadczenia pozosta&lstrok;ych us&lstrok;ug w Serwisie
      ul
        li
          | Serwis udost&eogon;pnia us&lstrok;ugi i narz&eogon;dzia umo&zdot;liwiaj&aogon;ce Us&lstrok;ugobiorcom interakcj&eogon; z Serwisem w postaci:
          ul
            li Formularz kontaktowy
        li
          | Serwis udost&eogon;pnia dane kontaktowe w postaci:
          ul
            li Adresu e-mail
            li Telefonu kontaktowego
        li
          | W przypadku kontaktu Us&lstrok;ugobiorcy z Us&lstrok;ugodawc&aogon;, dane osobowe Us&lstrok;ugobiorc&oacute;w b&eogon;da przetwarzane zgodnie z &quot;
          a(href='https://lubansneakerstore.pl/polityka-prywatnosci/') Polityk&aogon; Prywatno&sacute;ci
          | &quot;, stanowi&aogon;c&aogon; integraln&aogon; cz&eogon;&sacute;&cacute; Regulaminu.
      h2 VI. Gromadzenie danych o Us&lstrok;ugobiorcach
      p
        | W celu prawid&lstrok;owego &sacute;wiadczenia us&lstrok;ug przez Serwis, zabezpieczenia prawnego interesu Us&lstrok;ugodawcy oraz w celu zapewnienia zgodno&sacute;ci dzia&lstrok;ania Serwisu z obowi&aogon;zuj&aogon;cym prawem, Us&lstrok;ugodawca za po&sacute;rednictwem Serwisu gromadzi i przetwarza niekt&oacute;re dane o U&zdot;ytkownikach.
      p
        | W celu prawid&lstrok;owego &sacute;wiadczenia us&lstrok;ug, Serwis wykorzystuje i zapisuje niekt&oacute;re anonimowe informacje o Us&lstrok;ugobiorcy w plikach cookies.
      p
        | Zakres, cele, spos&oacute;b oraz zasady przetwarzania danych dost&eogon;pne s&aogon; w za&lstrok;&aogon;cznikach do Regulaminu: &bdquo;
        a(href='') Obowi&aogon;zek informacyjny RODO
        | &rdquo; oraz w &bdquo;
        a(href='https://lubansneakerstore.pl/polityka-prywatnosci/') Polityce prywatno&sacute;ci
        | &bdquo;, stanowi&aogon;cych integraln&aogon; cz&eogon;&sacute;&cacute; Regulaminu.
      ul
        li
          em Dane zbierane podczas rejestracji:
          br
          | Nazwa u&zdot;ytkownika, imi&eogon; i nazwisko, adres e-mail
          p
            | W przypadku Us&lstrok;ugobiorc&oacute;w zalogowanych (posiadaj&aogon;cych konto w Serwisie), w plikach cookies zapisywanych na urz&aogon;dzeniu Us&lstrok;ugobiorcy mo&zdot;e by&cacute; umieszczony identyfikator Us&lstrok;ugobiorcy powi&aogon;zany z kontem Us&lstrok;ugobiorcy
      h2 VII. Prawa autorskie
      ul
        li W&lstrok;a&sacute;cicielem Serwisu oraz praw autorskich do serwisu jest Us&lstrok;ugodawca.
        li
          | Cz&eogon;&sacute;&cacute; danych zamieszczonych w Serwisie s&aogon; chronione prawami autorskimi nale&zdot;&aogon;cymi do firm, instytucji i os&oacute;b trzecich, niepowi&aogon;zanych w jakikolwiek spos&oacute;b z Us&lstrok;ugodawc&aogon;, i s&aogon; wykorzystywane na podstawie uzyskanych licencji, lub opartych na licencji darmowej.
        li
          | Na podstawie Ustawy z dnia 4 lutego 1994 o prawie autorskim zabrania si&eogon; wykorzystywania, kopiowania, reprodukowania w jakiejkolwiek formie oraz przetrzymywania w systemach wyszukiwania z wy&lstrok;&aogon;czeniem wyszukiwarki Google, Bing, Yahoo, NetSprint, DuckDuckGo, Facebook oraz LinkedIn jakichkolwiek artyku&lstrok;&oacute;w, opis&oacute;w, zdj&eogon;&cacute; oraz wszelkich innych tre&sacute;ci, materia&lstrok;&oacute;w graficznych, wideo lub audio znajduj&aogon;cych si&eogon; w Serwisie bez pisemnej zgody lub zgody przekazanej za pomoc&aogon; Komunikacji Drog&aogon; Elektroniczn&aogon; ich prawnego w&lstrok;a&sacute;ciciela.
        li
          | Zgodnie z Ustaw&aogon; z dnia 4 lutego 1994 o prawie autorskim ochronie nie podlegaj&aogon; proste informacje prasowe, rozumiane jako same informacje, bez komentarza i oceny ich autora. Autor rozumie to jako mo&zdot;liwo&sacute;&cacute; wykorzystywania informacji z zamieszczonych w serwisie tekst&oacute;w, ale ju&zdot; nie kopiowania ca&lstrok;o&sacute;ci lub cz&eogon;&sacute;ci artyku&lstrok;&oacute;w o ile nie zosta&lstrok;o to oznaczone w poszczeg&oacute;lnym materiale udost&eogon;pnionym w Serwisie.
      h2 VIII. Zmiany Regulaminu
      ul
        li
          | Wszelkie postanowienia Regulaminu mog&aogon; by&cacute; w ka&zdot;dej chwili jednostronnie zmieniane przez Us&lstrok;ugodawc&eogon;, bez podawania przyczyn.
        li
          | Informacja o zmianie Regulaminu b&eogon;dzie rozsy&lstrok;ana Drog&aogon; Elektroniczn&aogon; do Us&lstrok;ugobiorc&oacute;w zarejestrowanych w Serwisie.
        li
          | W przypadku zmiany Regulaminu jego postanowienia wchodz&aogon; w &zdot;ycie natychmiast po jego publikacji dla Us&lstrok;ugobiorc&oacute;w nieposiadaj&aogon;cych konta w Serwisie.
        li
          | W przypadku zmiany Regulaminu jego postanowienia wchodz&aogon; w &zdot;ycie z 7-dniowym okresem przej&sacute;ciowym dla Us&lstrok;ugobiorc&oacute;w posiadaj&aogon;cych konta w Serwisie zarejestrowane przez zmian&aogon; Regulaminu.
        li
          | Traktuje si&eogon; i&zdot; ka&zdot;dy Us&lstrok;ugobiorca, kontynuuj&aogon;cy korzystanie z Serwisu po zmianie Regulaminu akceptuje go w ca&lstrok;o&sacute;ci.
      h2 IX. Postanowienia ko&nacute;cowe
      ul
        li
          | Us&lstrok;ugodawca dokona wszelkich stara&nacute; by us&lstrok;ugi Serwisu by&lstrok;y oferowane w spos&oacute;b ci&aogon;g&lstrok;y. Nie ponosi on jednak &zdot;adnej odpowiedzialno&sacute;ci za zak&lstrok;&oacute;cenia spowodowane si&lstrok;&aogon; wy&zdot;sz&aogon; lub niedozwolon&aogon; ingerencj&aogon; Us&lstrok;ugobiorc&oacute;w, os&oacute;b trzecich czy dzia&lstrok;alno&sacute;ci&aogon; zewn&eogon;trznych automatycznych program&oacute;w.
        li
          | Us&lstrok;ugodawca zastrzega sobie prawo do zmiany jakichkolwiek informacji umieszczonych w Serwisie w wybranym przez Us&lstrok;ugodawc&eogon; terminie, bez konieczno&sacute;ci uprzedniego powiadomienia Us&lstrok;ugobiorc&oacute;w korzystaj&aogon;cych z us&lstrok;ug Serwisu.
        li
          | Us&lstrok;ugodawca zastrzega sobie prawo do czasowego, ca&lstrok;kowitego lub cz&eogon;&sacute;ciowego wy&lstrok;&aogon;czenia Serwisu w celu jego ulepszenia, dodawania us&lstrok;ug lub przeprowadzania konserwacji, bez wcze&sacute;niejszego uprzedzania o tym Us&lstrok;ugobiorc&oacute;w.
        li
          | Us&lstrok;ugodawca zastrzega sobie prawo do wy&lstrok;&aogon;czenia Serwisu na sta&lstrok;e, bez wcze&sacute;niejszego uprzedzania o tym Us&lstrok;ugobiorc&oacute;w.
        li
          | Us&lstrok;ugodawca zastrzega sobie prawo do dokonania cesji w cz&eogon;&sacute;ci lub w ca&lstrok;o&sacute;ci wszelkich swoich praw i obowi&aogon;zk&oacute;w zwi&aogon;zanych z Serwisem, bez zgody i mo&zdot;liwo&sacute;ci wyra&zdot;ania jakichkolwiek sprzeciw&oacute;w przez Us&lstrok;ugobiorc&oacute;w.
        li
          | Obowi&aogon;zuj&aogon;ce oraz poprzednie Regulaminy Serwisu znajduj&eogon; si&eogon; na tej podstronie pod aktualnym Regulaminem.
        li
          | We wszelkich sprawach zwi&aogon;zanych z dzia&lstrok;alno&sacute;ci&aogon; Serwisu nale&zdot;y kontaktowa&cacute; si&eogon; z Us&lstrok;ugodawc&eogon; korzystaj&aogon;c z jednej z poni&zdot;szych form kontaktu:
          ul
            li U&zdot;ywaj&aogon;c formularza kontaktowego dost&eogon;pnego w Serwisie
            li Wysy&lstrok;aj&aogon;c wiadomo&sacute;&cacute; na adres e-mail: kontakt@lubansneakerstore.pl
            li Poprzez po&lstrok;&aogon;czenie telefoniczne z numerem: +48 696968503
          | Kontakt przy u&zdot;yciu wskazanych &sacute;rodk&oacute;w komunikacji wy&lstrok;&aogon;cznie w sprawach zwi&aogon;zanych z prowadzonym Serwisem.
  include includes/footer.pug
script(src='../scripts/app.js')
