extends layout

block content
  div.wrapper
    - var n = 0;

    each item,index in orderedItems
        .items
          .img-product
           img(src=item.pictures.picture1)
          p.price #{item.price-item.discount} zł
          p.size Rozmiar: #{size[n++]}
          
          
          a(href="/item/"+(item.itemNumber)+"/delete")
            button(type="submit") USUN
    if isEmpty==true 
      p koszyk jest pusty
  p Cena zamowienia: #{price} zł
  button Zaplac