.info {
    font-family: $main-font;
    margin: clamp(1.5rem, 5vw, 4rem) clamp(3em, 7vw, 6em);
    color: $contrast-color;

    & h1 {
        margin-bottom: 1.75em;
        text-align: center;
        font-size: clamp(1.75rem, 3vw, 3.5rem);
    }

    & p,
    & li,
    & h2 {
        margin: 0 auto 1.3em;
        max-width: 90rem;
        line-height: 1.5;
        font-size: clamp(1.2rem, 2vw, 1.65rem);
        font-family: serif;
    }

    & article h2 {
        text-indent: -1.5em;
    }
}

@media screen and (min-width: 768px) {

    .info p,
    .info li,
    .info h2 {
        width: 60vw;
    }
}